<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="auth.isAuthenticated()">
      Home
    </ion-title>
    <ion-title *ngIf="!auth.isAuthenticated()">
      Login Required
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4 *ngIf="auth.isAuthenticated() && userProfile">
    You are logged in as {{auth.userProfile.email}}! You can now <a routerLink="/ping">send authenticated requests</a> to your server.
  </h4>
  <h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
  </h4>
  <h4 *ngIf="auth.isAuthenticated()">
   {{userInfo | json}}
  </h4>
</ion-content>
